{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
{% endblock %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 >☕COFFEE & Wifi💻</h1>
  <p>Want to work in a cafe but not sure about power and wifi?</p>
  <hr>
  <p>now is time to release from confusion...by diving into my cofe collection list base on Wi-Fi strength and power plugs</p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('cafes') }}" role="button">SHOW LIST !</a>
</div>
    </div>
{% endblock %}
